* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
}
}
@media (min-width: 992px) {
  .container {
    width: 970px;
}
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
}
}

header {
  background-image: url(../imegs/bg-header-desktop.png);
  background-size: cover;
  position: relative;
  height: 25vh;
}
@media (max-width:767px) {
  header {
    background-image: url(../imegs/bg-header-mobile.png);
  }
}
header img {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translatex( -50%  );
  -webkit-transform: translatex( -50%  );
  -moz-transform: translatex( -50%  );
  -ms-transform: translatex( -50%  );
  -o-transform: translatex( -50%  );
}
.hed {
  padding: 100px 0 200px;
  text-align: center;
}
:root {
  --max-colar :#454d51;
  --min-calor :#b1b3b5;
}
.min-hed {
  text-align: center;
}
.min-hed h1 {
  color: var(--max-colar);
}
.min-hed p {
  color: var(--min-calor);
  line-height: 1.7;
  font-size: 19px;
  max-width: 680px;
  margin: auto;
}
.hed .link {
  padding-top: 60px ;
}
.hed .link button {
  padding: 15px 35px;
  outline: none;
  color: white;
  background-color: #27bba7;
  margin-left: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  box-shadow: inset 0px -3px #319a8d;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
}
.hed .link button:last-child {
  background-color: #6273ff;
  box-shadow: inset 0px -3px #5964c7;
}
.hed .link button:hover {
  cursor: pointer;
  opacity: .8;
}
@media (max-width:767px) {
  .hed .link button {
    margin: 20px 0 0;
    width: 100%;
  }
}

.p2 .img {
  padding-top: 100px ;
  display: flex;
}
.p2 .img .ii img {
  width: 100%;
  position: relative;
  right: 450px;
}
.p2 .info {
  position: relative;
  right: 170px;
}
.p2 .info .box {
  margin: 50px 0  ;
  width: 400px;
}
.p2 .info .box h2 {
  color: var(--max-colar);
  margin-bottom: 10px;
}
.p2 .info .box p {
  color: var(--min-calor);
  line-height: 2;
  font-size: 17px;
 }
 
 
@media (max-width:1400px) {
  .p2 .img .ii img {
  
    right: 200px;
  }
  .p2 .info {
    right: 100px;
  }
  .p2 .info .box {
    width: 100%;
    margin: 30px 0;
  }
    
} 
@media (max-width:999px) {
  .p2 .img .ii img {
     right: 150px;
   }
  .p2 .info {
    right: 50px;
   }
  .p2 .info .box {
    margin: 20px 0;
  }
}
@media (max-width:767px) {
  .p2 .img {
    flex-direction: column;
    text-align: center;
  }
  .p2 .img .ii img {
    right: 0px;
    
  }
 .p2 .info {
   right: 0px;
 
  }
  .p2 .info .box {
    margin: 50px 0;
  }
}

.p3 {
  padding: 100px 0;
  text-align: center;
}
.p3 .img {
  padding-top: 60px ;
}
.p3 .img img {
  width: 100%;
}


.p4-cont {
  padding-top: 100px;
}
.p4-cont .boxs {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  text-align: center;
}

.p4-cont .boxs .box img {
  margin-bottom: 40px;
}
.p4-cont .boxs .box h2 {
  color: var(--max-colar);
  margin-bottom: 20px;
}
.p4-cont .boxs .box p {
  color: var(--min-calor);
    line-height: 2;
    font-size: 17px;
}
.p4-cont .img {
  padding-top: 100px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(180px , 1fr));
  
}
.p4-cont .img img {
  margin: auto;
}
@media (max-width:767px) {
  .p4-cont .boxs {
    gap: 70px;
  }
  .p4-cont .img {
    gap: 70px;
  }
}
footer {
  padding: 30px;
  background-color:#f4f6f8;
  display: flex;
  justify-content: space-around;
}

footer .logo  img {
  width: 50%;
}
footer ul {
  display: grid;
  grid-template-columns: repeat( 3 , auto);
  column-gap: 100px;
}

footer ul li {
 color: var(--max-colar) ;
 transition: .5s;
 -webkit-transition: .5s;
 -moz-transition: .5s;
 -ms-transition: .5s;
 -o-transition: .5s;
}
footer ul li:nth-child(2) {
  order: 4;
}
footer ul li:nth-child(4) {
  order: 5;
}
footer ul li:nth-child(5) {
  order: 3;
}
footer .icon {
  display: flex;
  align-items: center;
}
footer .icon i {
  padding: 0 10px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
footer ul li:hover,
footer .icon i:hover {
  cursor: pointer; 
  color: #27bba7;
}
@media (max-width:767px) {
  footer{
    flex-direction: column;
    text-align: center;
  }
  footer .logo  img {
    width: 20%;
    margin-bottom: 30px;
  }
  footer ul {
    display: block;
  }
  footer ul li {
    padding: 15px 0;
  }
  footer .icon  {
    justify-content: center;
    margin-top: 30px;
  }
  footer .icon i {
    padding: 0 20px;
    
  }
}